<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
    <applicationSettings>
        <AutoReporter.Properties.Settings>
            <setting name="AutoReporter_ReportService_RegisterReport" serializeAs="String">
                <value>http://ars.hirezstudios.com/RegisterReport.asmx</value>
            </setting>
            <setting name="CrashURL" serializeAs="String">
                <value>https://submit.backtrace.io/hirez/ed902329b4238f3e4eac28f8438721e4b868f6ba5feff11dfce2a572c0444831/minidump</value>
            </setting>
            <setting name="UploadURL" serializeAs="String">
                <value>https://submit.backtrace.io/hirez/ed902329b4238f3e4eac28f8438721e4b868f6ba5feff11dfce2a572c0444831/minidump</value>
            </setting>
            <setting name="AutoReporter_ReportService_RegisterReport_Debug" serializeAs="String">
                <value>http://localhost:49418/AutoReportService/RegisterReport.asmx</value>
            </setting>
            <setting name="CrashURL_Debug" serializeAs="String">
                <value>https://submit.backtrace.io/hirez/ed902329b4238f3e4eac28f8438721e4b868f6ba5feff11dfce2a572c0444831/minidump</value>
            </setting>
            <setting name="UploadURL_Debug" serializeAs="String">
                <value>https://submit.backtrace.io/hirez/ed902329b4238f3e4eac28f8438721e4b868f6ba5feff11dfce2a572c0444831/minidump</value>
            </setting>
        </AutoReporter.Properties.Settings>
    </applicationSettings>
</configuration>